<ion-header>
  <ion-toolbar>
    <ion-title>Iniciar sesión</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form (ngSubmit)="logForm()" style="margin: 1em;">
    <ion-item>
      <ion-label position="floating">Email</ion-label>
      <ion-input type="email" [(ngModel)]="todo.email" name="email" required ></ion-input>
    </ion-item>
    
    <ion-item>
      <ion-label position="floating">Password</ion-label>
      <ion-input type="password" [(ngModel)]="todo.password" name="password" required></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">App</ion-label>
      <ion-input type="text" [(ngModel)]="todo.app" name="app" required></ion-input>
    </ion-item>
    <ion-button type="submit" color="dark" style="float: right; margin: 1em;">Iniciar sesión</ion-button>
  </form>
</ion-content>
